﻿@model IEnumerable<Ecommerce.Models.Tax>

@{
    ViewBag.Title = "Taxes";
}

<h2>Impuestos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Company.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Company.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TaxId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TaxId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TaxId })
        </td>
    </tr>
}

</table>
