﻿@model Ecommerce.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="row">
    <div class="col-md-6">
        <div>
            <h4>Product</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Category.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Category.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Company.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Company.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Tax.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Tax.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BarCode)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BarCode)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Image)
                </dt>

                <dd>
                    @if (!string.IsNullOrEmpty(Model.Image))
            {
                        <img src="@Url.Content(Model.Image)" alt="Image" style="width:150px;height:150px;max-width: 100%; height: auto;" />
                    }

                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Comentary)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Comentary)
                </dd>

            </dl>

        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }) |
            @Html.ActionLink("Back to List", "Index")
        </p>


    </div>
    <div class="col-md-6">
        <h4>Inventory</h4>
        <hr />
        @if (Model.Inventories.Count == 0)
        {
            <h5>No hay inventarios disponibles</h5>
        }
        else
        {
            <table class="table">
                <tr>
                    <th>
                        Tienda
                    </th>
                    <th>
                        Stock
                    </th>
                </tr>

                @foreach (var item in Model.Inventories.ToList())
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelitem => item.Warehouse.Name)
                        </td>
                        <td align="right">
                            @Html.DisplayFor(modelitem => item.Stock)
                        </td>
                    </tr>
                }
                <tr>
                    <td>
                        <strong>Total</strong>
                    </td>
                    <td align="right">
                        <strong>@Html.DisplayFor(model => model.Stock)</strong>
                    </td>
                </tr>

            </table>
        }
    </div>
</div>
