﻿@model IEnumerable<Ecommerce.Models.Department>

@{
    ViewBag.Title = "Listado de Departamentos";
}

<h2>Listado de Departamentos</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create",new { },new {@class="btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.DepartmentId }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.DepartmentId }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.DepartmentId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
